# Web Server
flask
flask-cors

# Cloud Storage & Database
supabase
requests

# The Downloader & Bypassing Tools
yt-dlp
yt-dlp-ejs
curl_cffi

playwright==1.40.0
playwright-stealth==1.0.6
